ai/Face_Recognition/database/
ai/Face_Recognition/Input/
ai/Face_Recognition/*.pb
ai/Face_Recognition/*.ckpt*
ai/Face_Recognition/*.meta
ai/Face_Recognition/*.index
ai/Face_Recognition/captured/
ai/Face_Recognition/align/
ai/Face_Recognition/__pycache__/
ai/Face_Recognition/input/
ai/Face_Recognition/mtcnn-l/
ai/Face_Recognition/tests/
ai/Face_Recognition/output/
*.xls
*.pyc
check/
*/venv
*/Model
ai/EmpatheticBot/Model/config.json
ai/EmpatheticBot/Model/merges.txt
ai/EmpatheticBot/Model/model.safetensors
ai/EmpatheticBot/Model/special_tokens_map.json
ai/EmpatheticBot/Model/vocab.json
ai/EmpatheticBot/Model/config.py